@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins.medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-primary-300: #0e733b;
  --color-primary-400: #0b5c2f;
  --color-primary-500: #062e18;
  --color-danger-500: #f43f5e;

  --font-poppins: 'Poppins', sans-serif;
  --font-sf-pro: 'SF Pro', sans-serif;
}
